* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background:  radial-gradient(circle at top, #0b1026, #020617 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}   


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(1px 1px at 20% 30%, white, transparent),
    radial-gradient(1px 1px at 70% 80%, white, transparent),
    radial-gradient(1px 1px at 40% 60%, white, transparent),
    radial-gradient(1px 1px at 90% 20%, white, transparent),
    radial-gradient(1px 1px at 10% 90%, white, transparent);
  background-size: 200px 200px;
  animation: starsMove 60s linear infinite;
  opacity: 0.6;
  pointer-events: none;
}



body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(2px 2px at 30% 40%, #93c5fd, transparent),
    radial-gradient(2px 2px at 80% 60%, #60a5fa, transparent),
    radial-gradient(2px 2px at 50% 10%, #bfdbfe, transparent);
  background-size: 300px 300px;
  animation: starsMove 120s linear infinite;
  opacity: 0.5;
  pointer-events: none;
}


@keyframes starsMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}





.container {
  width: 100%;
  max-width: 360px;
  padding: 30px 20px;
  text-align: center;
}


.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  border: 3px solid #3b82f6;
  animation: pulseGlow 3s infinite;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 15px rgba(59,130,246,0.4);
  }
  50% {
    box-shadow: 0 0 30px rgba(59,130,246,0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(59,130,246,0.4);
  }
}




.profile h1 {
  font-size: 24px;
  font-weight: 600;
}

.profile p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 14px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
}


.whatsapp {
  background: #22c55e;
}

.whatsapp:hover {
  box-shadow: 0 0 20px rgba(34,197,94,0.6);
  transform: scale(1.02);
}

.portfolio {
  background: #2563eb;
}

.portfolio:hover {
  box-shadow: 0 0 20px rgba(37,99,235,0.6);
  transform: scale(1.02);
}



.socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.socials a {
  color: #cbd5f5;
  font-size: 24px;
  transition: 0.3s;
}

.socials a:hover {
  color: #3b82f6;
  transform: scale(1.2);
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  animation: fadeUp 1s ease forwards;
}


#galaxy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}


